Source: gxde-launcher
Section: x11
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Build-Depends:
 debhelper (>= 8.0.0),
 pkg-config,
 cmake,
 qt6-base-dev,
 libxcb-ewmh-dev,
 libdtk2widget6-dev,
 libdtk6core-dev,
 libdframeworkdbus-qt6-dev,
 qt6-base-private-dev,
 qt6-svg-dev,
 libgsettings-qt6-dev,
 qt6-tools-dev-tools,
 liblayershellqtinterface-dev,
 libwayland-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: gxde-launcher
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gxde-shell-tools,
 gxde-desktop-schemas (>= 3.1.11),
 gxde-app-uninstaller
Conflicts: dde-workspace (<< 2.90.5), dde-launcher (>> 5.0.29-2)
Provides: dde-launcher
Replaces: dde-launcher
Description: GXDE desktop-environment - launcher module
